$color-blue : #3379ff;
$color-blue2 : #0043c6;
$color-blue3 : #1e52b5;
$color-white : #fff;
$color-white2 : #f2f5f7;

$color-orange :#ff9300;
$color-brown :#dedede;
$color-brown2 :#5e8aff;
$color-red: #f00000;
$v-box-shadow:  0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
$v-box-shadow2:   0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
body{ background-color: $color-white2; overflow-x: hidden }
.error{ color:$color-red; font-size: 14px;}
.bg-blue{ background-color: $color-blue;}
.bg-blue2{ background-color: $color-blue2;}
.bg-blue3{ background-color: $color-blue3;}
.bg-white{ background-color: $color-white;}
.bg-orange{ background-color: $color-orange;}
.bg-shadow{ box-shadow: $v-box-shadow2;}
.txt-18{font-size: 18px}
.txt-16{font-size: 16px}
.txt-14{font-size: 14px}
.position-rel{position: relative;}
.border-orange{ border-color: $color-orange;}
.url{ display: none;}
.line-hr {
    overflow: hidden;
    text-align: center;
}
.line-hr:before,
.line-hr:after {
    background-color: $color-brown;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.line-hr:before {
    right: 0.5em;
    margin-left: -50%;
}
.line-hr:after {
    left: 0.5em;
    margin-right: -50%;
}
.pointer{ cursor: pointer;}
.line{ border-top: 1px solid #e9ecef;}
header{ 

	.mobile{
		box-shadow: $v-box-shadow;
		.navbar-toggler{ color: #ccc;border-color: #ccc;}
		.navbar-toggler-icon{  color: $color-white !important;border-color: $color-white !important; }
		#navbarSupportedContent{
			li span{ padding-left: 12px;}
		}
	}
	.header-pc-logo{ position: absolute; top: -12px;  height: 95px; width: 100%; text-align: center;}


	.stepwizard-row {
	    display: table-row;
	}
	
	.stepwizard {
	    display: table;     
	    width: 100%;
	    position: relative; margin-top: 8px; 
	}

	.stepwizard-step button[disabled] {
	    opacity: 1 !important;
	    filter: alpha(opacity=100) !important;
	}
	.stepwizard-step button{
		background-color:  #3379ff!important; border: 1px $color-white solid; color: $color-white; opacity: 0.7;
	}
	.stepwizard span{ background-color: #3379ff; padding: 0 2px; color: $color-white;opacity: 0.7;}
	.step-active{

		button{ background-color: $color-white!important; color: $color-blue;opacity: 1;}
		span{ color: $color-white;opacity: 1;}
	}
	.stepwizard-row:before {
	    top: 14px;
	    bottom: 0;
	    position: absolute;
	    content: " ";
	    width: 100%;
	    height: 1px;
	    background-color: #ccc;
	    z-order: 0;
	    
	}

	.stepwizard-step {    
	    display: table-cell;
	    text-align: center;
	    position: relative;
	}

	.btn-circle {
	  width: 30px;
	  height: 30px;
	  text-align: center;
	  padding: 6px 0;
	  font-size: 12px;
	  line-height: 1.428571429;
	  border-radius: 15px;
	}
}// End 
.nav-header-pc{ padding: 5px 5px 0px 5px; 
	  box-shadow: $v-box-shadow;
	ul li.active{ border-bottom: 3px solid #fff;}
	ul li a{ color: $color-brown;}
	ul li.active a{ color: $color-white;}
}
.content{
	padding-top: 48px;  
}
.content-main{ width: 1200px; margin: auto;}
.mobile_s{ display: none; }
.pc_s{ display: block; }
.box-events{ 
	padding: 60px 10px 60px 10px;background-color: #f2f5f7;
	article{
		margin-bottom: 10px;
		h3{
			font-size: 16px; margin-top: 20px;margin-bottom: 20px;
		}

	}

}
.box-org{ 
		padding-top: 60px;
		padding-bottom: 60px;
	    background-color:  $color-white;
	h4{ font-size: 16px; font-weight: normal;}
}
.box-feedback{
	padding: 60px 10px 60px 10px;background-color: #f2f5f7;
	h4{ font-size: 16px; font-weight: normal;}
}
.home-footer{
	background-color: $color-white;
	padding: 20px 10px 20px 10px;
	padding-top: 80px;
	.address{ 
		img{ height: 20px;}
	}

}
.app-downloads{ background-image: url(../images/mobile_app.png); height: 300px; 
	background-color: $color-white;
	background-repeat: no-repeat; background-position: 50px 0;
	padding-left: 600px; padding-top: 120px; 
}
.box-tickets{
	margin-top: 25px;
	.card{ }
}
.no-border-top th{ border-top: none;}
.table-payment{

	td{border-top:none!important;    padding: .5rem; }
}
footer{
	border-top: 1px solid $color-brown; padding: 20px;
}
 .box-content{ padding: 140px 0  80px 0}
.th-ticket-form{ width: 75%;}
.inputForm,.inputFormProduct{background-color: #fff!important; border: none;}

@media (max-width: 1199px) { 
	.box-tickets{ padding: 0 20px}
	.content-main{ width: 100%; margin: auto;}
	 

 }// Large devices (desktops, less than 1200px)
 @media (max-width: 991px) { 
	.th-ticket-form{ width: 74%;}


}// Medium devices (tablets, less than 992px)
@media (max-width: 767px) {  
	.footer-translate{ text-align: left!important;}
	.box-btn-ticket-checklists{position: fixed; width: 100%; bottom: 0; background-color: #fff; box-shadow: $v-box-shadow2;
		 
	 }
	.mobile_s{ display: block; }
	.pc_s{ display: none; }
	.box-events{ 
		padding: 60px 10px 60px 10px;
	}
	.box-org{ padding: 30px 5px 5px 5px; }
	.box-feedback{
		padding: 30px 10px 30px 10px; 
	}
	.carousel-indicators{ bottom: -10px;}
	.home-footer{
		padding-top: 30px;
	}
	.content{
		padding-top: 64px;   
	}
	 .box-content{ padding: 80px 0  40px 0}
	 .stepwizard span{  display: none;}
	 .th-ticket-form{ width: 72%;}
	 .btn-payment{  width: 95%;}
 }// Small devices (landscape phones, less than 768px)

@media (max-width: 575px) {   
	.th-ticket-form{ width: 69%;}
}// Small devices (landscape phones, less than 575px)
@media (max-width: 475px) {   
	.th-ticket-form{ width: 65%;}
}// Small devices (landscape phones, less than 475px)
@media (max-width: 355px) {   
	.th-ticket-form{ width: 60%;}
}// Small devices (landscape phones, less than 475px)

