body {
  background-color: #f2f5f7;
  overflow-x: hidden; }

.error {
  color: #f00000;
  font-size: 14px; }

.bg-blue {
  background-color: #3379ff; }

.bg-blue2 {
  background-color: #0043c6; }

.bg-blue3 {
  background-color: #1e52b5; }

.bg-white {
  background-color: #fff; }

.bg-orange {
  background-color: #ff9300; }

.bg-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.txt-18 {
  font-size: 18px; }

.txt-16 {
  font-size: 16px; }

.txt-14 {
  font-size: 14px; }

.position-rel {
  position: relative; }

.border-orange {
  border-color: #ff9300; }

.url {
  display: none; }

.line-hr {
  overflow: hidden;
  text-align: center; }

.line-hr:before,
.line-hr:after {
  background-color: #dedede;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%; }

.line-hr:before {
  right: 0.5em;
  margin-left: -50%; }

.line-hr:after {
  left: 0.5em;
  margin-right: -50%; }

.pointer {
  cursor: pointer; }

.line {
  border-top: 1px solid #e9ecef; }

header .mobile {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19); }
  header .mobile .navbar-toggler {
    color: #ccc;
    border-color: #ccc; }
  header .mobile .navbar-toggler-icon {
    color: #fff !important;
    border-color: #fff !important; }
  header .mobile #navbarSupportedContent li span {
    padding-left: 12px; }

header .header-pc-logo {
  position: absolute;
  top: -12px;
  height: 95px;
  width: 100%;
  text-align: center; }

header .stepwizard-row {
  display: table-row; }

header .stepwizard {
  display: table;
  width: 100%;
  position: relative;
  margin-top: 8px; }

header .stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important; }

header .stepwizard-step button {
  background-color: #3379ff !important;
  border: 1px #fff solid;
  color: #fff;
  opacity: 0.7; }

header .stepwizard span {
  background-color: #3379ff;
  padding: 0 2px;
  color: #fff;
  opacity: 0.7; }

header .step-active button {
  background-color: #fff !important;
  color: #3379ff;
  opacity: 1; }

header .step-active span {
  color: #fff;
  opacity: 1; }

header .stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0; }

header .stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative; }

header .btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px; }

.nav-header-pc {
  padding: 5px 5px 0px 5px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19); }
  .nav-header-pc ul li.active {
    border-bottom: 3px solid #fff; }
  .nav-header-pc ul li a {
    color: #dedede; }
  .nav-header-pc ul li.active a {
    color: #fff; }

.content {
  padding-top: 48px; }

.content-main {
  width: 1200px;
  margin: auto; }

.mobile_s {
  display: none; }

.pc_s {
  display: block; }

.box-events {
  padding: 60px 10px 60px 10px;
  background-color: #f2f5f7; }
  .box-events article {
    margin-bottom: 10px; }
    .box-events article h3 {
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 20px; }

.box-org {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff; }
  .box-org h4 {
    font-size: 16px;
    font-weight: normal; }

.box-feedback {
  padding: 60px 10px 60px 10px;
  background-color: #f2f5f7; }
  .box-feedback h4 {
    font-size: 16px;
    font-weight: normal; }

.home-footer {
  background-color: #fff;
  padding: 20px 10px 20px 10px;
  padding-top: 80px; }
  .home-footer .address img {
    height: 20px; }

.app-downloads {
  background-image: url(../images/mobile_app.png);
  height: 300px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50px 0;
  padding-left: 600px;
  padding-top: 120px; }

.box-tickets {
  margin-top: 25px; }

.no-border-top th {
  border-top: none; }

.table-payment td {
  border-top: none !important;
  padding: .5rem; }

footer {
  border-top: 1px solid #dedede;
  padding: 20px; }

.box-content {
  padding: 140px 0  80px 0; }

.th-ticket-form {
  width: 75%; }

.inputForm, .inputFormProduct {
  background-color: #fff !important;
  border: none; }

@media (max-width: 1199px) {
  .box-tickets {
    padding: 0 20px; }
  .content-main {
    width: 100%;
    margin: auto; } }

@media (max-width: 991px) {
  .th-ticket-form {
    width: 74%; } }

@media (max-width: 767px) {
  .footer-translate {
    text-align: left !important; }
  .box-btn-ticket-checklists {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .mobile_s {
    display: block; }
  .pc_s {
    display: none; }
  .box-events {
    padding: 60px 10px 60px 10px; }
  .box-org {
    padding: 30px 5px 5px 5px; }
  .box-feedback {
    padding: 30px 10px 30px 10px; }
  .carousel-indicators {
    bottom: -10px; }
  .home-footer {
    padding-top: 30px; }
  .content {
    padding-top: 64px; }
  .box-content {
    padding: 80px 0  40px 0; }
  .stepwizard span {
    display: none; }
  .th-ticket-form {
    width: 72%; }
  .btn-payment {
    width: 95%; } }

@media (max-width: 575px) {
  .th-ticket-form {
    width: 69%; } }

@media (max-width: 475px) {
  .th-ticket-form {
    width: 65%; } }

@media (max-width: 355px) {
  .th-ticket-form {
    width: 60%; } }
